# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# run `pre-commit autoupdate` to update versions
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
        args: ["--maxkb=850"]

  # remove unused imports
  - repo: https://github.com/hadialqattan/pycln
    rev: v2.4.0
    hooks:
      - id: pycln

  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.5.1
    hooks:
      # Run the linter.
      - id: ruff
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format

  - repo: https://github.com/Riverside-Healthcare/djLint
    rev: v1.34.1
    hooks:
      - id: djlint-reformat-django
        exclude: test_files,
        args:
          [
            "--use-gitignore",
            "--indent=2",
            "--max-blank-lines=2",
            "--profile=django",
          ]

  - repo: https://github.com/adamchainz/django-upgrade
    rev: 1.19.0
    hooks:
      - id: django-upgrade
        args: [--target-version, "5.1"]

  - repo: https://github.com/adamchainz/djade-pre-commit
    rev: 1.2.0
    hooks:
    - id: djade
      args: [--target-version, "5.1"]
