{% raw %}{% load static %}{% endraw %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">

    {% raw %}{# djlint:off #}
    <title>{% block title %}{% endraw %}{{cookiecutter.project_name}}{% raw %}{% endblock %}</title>
    {# djlint:on #}{% endraw %}

    {% raw %}<link rel="stylesheet" href="{% static 'css/style.css' %}">{% endraw %}
  </head>
  <body>
    {% raw %}
    {# djlint:off #}
    <div class="breadcrumbs">{% block breadcrumbs %}{% endblock %}</div>
    {# djlint:on #}

    {% block content %}
      <main class="container">
        <h1>Start Building</h1>
        <p class="mute">Build something great.</p>

        <h2>Deployment</h2>
        <p class="mute">You can deploy in seconds using Uberspace or Docker.</p>

        <h3>Uberspace</h3>
        <pre><code># check instructions in deploy/uberspace/install.sh</code></pre>

        <h3>Docker</h3>

        <ol>
          <li>
            Setup Server: <a href="https://team.screener.in/coding%20recipes/server-setup.md">guide</a>
          </li>
          <li>
            Install Docker: <a href="https://team.screener.in/coding%20recipes/server-setup.md#install-docker">guide</a>
          </li>
          <li>
            Copy contents of Docker deployment to root: <code>mv deploy/docker/* ./</code>
          </li>
          <li>
            Remove other deployment: <code>rf -rf deploy</code>
          </li>
          <li>
            Setup <a href="https://team.screener.in/coding%20recipes/git%20push%20deployment.md"><code>git push</code></a> deployment on remote machine.
          </li>
        </ol>
        <pre><code># check instructions in deploy/docker/install.sh</code></pre>

        <h2>Other things</h2>
        <p class="mute">You still need to do few more things.</p>

        <ol>
          <li>Install memcache on server if you are using it.</li>
          <li>Setup email in production. Update SMTP credentials.</li>
        </ol>
      </main>
    {% endblock content %}{% endraw %}
  </body>
</html>
