{% raw %}{% load static %}{% endraw %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% raw %}{% block title %}{% endraw %}{{cookiecutter.project_name}}{% raw %}{% endblock %}{% endraw %}</title>

  {% raw %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  {% endraw %}
</head>
<body>
  {% raw %}
  <div class="breadcrumbs">{% block breadcrumbs %}{% endblock %}</div>

  {% block content %}
  <h1>Start Building</h1>
  <p class="mute">Build something great.</p>

  <h2>Deployment on uberspace</h2>
  <p class="mute">You can deploy this just now on Uberspace.</p>

  <pre>
    <code>
      # check instructions in deploy/uberspace/install.sh
    </code>
  </pre>

  <h2>Other things</h2>
  <p class="mute">You still need to do few more things.</p>

  <ol>
    <li>Install memcache on server if you are using it.</li>
    <li>Setup email in production. Update SMTP credentials.</li>
  </ol>
  {% endblock %}{% endraw %}
</body>
</html>
