html {
    --black: hsl(250, 20%, 15%);
    --mute: hsl(250, 3%, 44%);
    --background: hsl(250, 100%, 100%);
    --links: #1263fc;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body {
    background: var(--background);
    color: var(--black);
    font-family: "Inter", sans-serif;
    font-size: 1.8em;
    line-height: 1.45;
    max-width: 800px;
    box-sizing: border-box;
    padding: 30px 20px 50px;
    margin: 24px auto;
}

a {
    color: var(--links);
    text-decoration: none;
}

a.normal {
    color: var(--black);
}

a.mute {
    color: var(--mute);
}

/* button */
a.button,
button {
    padding: 8px 12px;
    color: var(--background);
    font-size: 1.8rem;
    font-weight: 800;
    border-radius: 4px;
    background: var(--links);
    border: 1px solid var(--links);
    cursor: pointer;
}

a.button {
    display: inline-block;
    margin: 0 4px;
    text-decoration: none;
}

/* errors */
.errorlist {
    color: red;
}

/* forms */
form div {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
}

form .errorlist {
    font-weight: 500;
}

form div .helptext {
    color: var(--mute);
    font-weight: normal;
    font-size: 0.833em;
}

label {
    font-weight: 600;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
.pseudo-textarea,
select {
    padding: 8px 12px;
    border: 1px solid var(--black);
    font-size: 1.8rem;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus {
    border-color: var(--links);
    outline: none;
}

/* breadcrumbs */
.breadcrumbs:empty {
    display: none;
}

.breadcrumbs ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 8px 0;
    padding: 0;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.088px;
    text-transform: none;
    color: var(--mute);
}

.breadcrumbs ul li {
    padding: 0;
    margin: 0;
}

.breadcrumbs ul li + li::before {
    content: "/";
    color: var(--mute);
    margin: 0 12px;
}

/* utilities */
.mute {
    color: var(--mute);
}

.smaller {
    font-size: smaller;
}

.larger {
    font-size: larger;
}

.pre-wrap {
    white-space: pre-wrap;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-gap-16 {
    gap: 16px;
}
